@import "tailwindcss";

@theme inline {
  --color-primary: #E6DCCF;
  --color-secondary: #1a1a1a;
  --color-accent: #C8A46A;
  --color-background: #0f0f0f;
  --color-foreground: #FAFAFA;

  --font-en-heading: var(--font-playfair);
  --font-en-body: var(--font-inter);
  --font-ar-heading: var(--font-cairo);
  --font-ar-body: var(--font-tajawal);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased overflow-x-hidden;
  }
}